<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="5.0">
  <servlet>
    <description></description>
    <display-name>AddPackageController</display-name>
    <servlet-name>AddPackageController</servlet-name>
    <servlet-class>pack.controller.AddPackageController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddPackageController</servlet-name>
    <url-pattern>/AddPackageController</url-pattern>
  </servlet-mapping>
  <display-name>NikkoSpace2</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>DeletePackageController</display-name>
    <servlet-name>DeletePackageController</servlet-name>
    <servlet-class>pack.controller.DeletePackageController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeletePackageController</servlet-name>
    <url-pattern>/DeletePackageController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdatePackageController</display-name>
    <servlet-name>UpdatePackageController</servlet-name>
    <servlet-class>pack.controller.UpdatePackageController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdatePackageController</servlet-name>
    <url-pattern>/UpdatePackageController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewPackageController</display-name>
    <servlet-name>ViewPackageController</servlet-name>
    <servlet-class>pack.controller.ViewPackageController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewPackageController</servlet-name>
    <url-pattern>/ViewPackageController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListPackagelController</display-name>
    <servlet-name>ListPackagelController</servlet-name>
    <servlet-class>pack.controller.ListPackagelController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListPackagelController</servlet-name>
    <url-pattern>/ListPackagelController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListPackageController</display-name>
    <servlet-name>ListPackageController</servlet-name>
    <servlet-class>pack.controller.ListPackageController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListPackageController</servlet-name>
    <url-pattern>/ListPackageController</url-pattern>
  </servlet-mapping>
</web-app>